{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content%}
<div class="container p-5">
    <div class="jumbotron" >
        <h1 class="display-4">¿Que es ReviSalud?</h1>
        <hr class="my-4">
        <p>Revisalud es un sitio web que tiene el objetivo de mejorar el sistema de salud colombiano </p>
    </div>
</div>
<div class="container p-5">
    <div class="jumbotron" >
        <h1 class="display-4">¿Como contactar con ReviSalud?</h1>
        <hr class="my-4">
        <p>...</p>
    </div>
</div>
{% endblock %} 
