{% extends "layout4.html" %}
{% block title %}Citas Médicas{% endblock %}
{% block content%}
<div class='container p-5'>
<div class="jumbotron">
    <h1 class="display-4">Citas médicas</h1>
    <hr class="my-4">
    <p>Seleccione si desea ver los datos de sus próximas citas o si desea crear otra</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/vercitasmedic{{ medic }}" role="button">Ver mis citas</a>
        <a class="btn btn-primary btn-lg" href="/añadircita{{ medic }}" role="button">Crear Cita</a>
        <a class="btn btn-primary btn-lg" href="/generarcitas{{ medic }}" role="button">Generador de Citas</a>
    </p>
  </div>
</div>
{% endblock %}
