{% extends "layout3home.html" %}
{% block title %}Home{% endblock %}
{% block content%}
    <div class="container p-5">
        <div class="jumbotron" >
            <h1 class="display-4">Bienvenido(a), <b>{0}</b>  </h1>
            <hr class="my-4">
            <h2>¿Que Quieres Hacer?</h2>
            <p></p>
            <a class="btn btn-primary btn-lg" href="/citasdisponibles{{ cc }}" role="button">Ver Citas Disponibles y Agendar</a>
            <a class="btn btn-primary btn-lg" href="/historiamedica{{ cc }}" role="button">Ver Historia Médica</a>
            <a class="btn btn-primary btn-lg" href="/miscitas{{ cc }}" role="button">Ver Sus Citas Agendadas</a>
            <p></p>
            <a class="btn btn-primary btn-lg" href="/home_user{{ cc }}/cambiarcontraseña" role="button">Cambiar Contraseña</a>
        </div>
    </div>
{% endblock %}